body {
  padding-bottom: 3rem;
  font-family: Orbitron;
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
          Helvetica, Arial, sans-serif; */
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: #e2648c;
  padding: 10px;
}
.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  /* border: 1px solid rgba(0, 0, 0, 0.8); */
  padding: 20px;
  text-align: center;
}

.icon {
  width: 12rem;
  height: 12rem;
}

.hidden {
  display: none;
}

.display {
  text-align: center;
  font-size: large;
}

@media only screen and (max-width: 600px) {
  .person {
    width: 7rem;
    height: 30rem;
  }
}

.left {
  transform: scaleX(1);
}

.right {
  transform: scaleX(-1);
}

.up {
  transform: rotate(270deg);
}

.down {
  transform: rotate(90deg);
}

label {
  font-size: 3rem;
}
#usernameInput,
#roomNameInput {
  width: 100%;
  font-size: 4rem;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

#submit {
  width: 100%;
  background-color: #e2648c;
  color: white;
  font-size: 4rem;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#submit:hover {
  background-color: #e04e7c;
}

#enter-form {
  border-radius: 5px;
  background-color: #edd7de;
  padding: 20px;
}

.title {
  text-align: center;
}

#kissButton {
  margin: auto;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
}

#kissButton:hover {
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.24), 0 5px 13px 0 rgba(0, 0, 0, 0.19);
}

.kissing {
  background-color: #e2648c;
}



.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

.button-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 20px;
}
.button {
  border: none;
  color: white;
  font-size: 16px;
  height: 3rem;
  width: 100%;
  margin-top: 20px;
}

.child {
  text-align: center;
  padding: 20px;
  border: 2px solid black;
}

.button:hover,
.child:hover {
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.24), 0 5px 13px 0 rgba(0, 0, 0, 0.19);
}

.scored-container {
  border: 8px solid greenyellow;
}

.disabled {
  background-color: gray;
}

.teamName {
  font-size: 2rem;
}
.score {
  font-size: 4rem;
  font-family: Orbitron;
}

.undo {
  background-color: orange;
}

.reset {
  background-color: red;
}

.green {
  background-color: greenyellow;
}
.red {
  background-color: red;
}
