body {
  padding-bottom: 3rem;
  font-family: Orbitron;
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
          Helvetica, Arial, sans-serif; */
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  /* background-color: #e2648c; */
  padding: 10px;
}
.grid-item {
  background-color: rgba(255, 255, 255, 0.1);
  /* border: 1px solid rgba(0, 0, 0, 0.8); */
  padding: 20px;
  text-align: center;
}

.icon {
  width: 12rem;
  height: 12rem;
}

.hidden {
  display: none;
}

.invisible {
  visibility: hidden;
}

.display {
  text-align: center;
  font-size: large;
}

@media only screen and (max-width: 600px) {
  .person {
    width: 7rem;
    height: 30rem;
  }
}

.left {
  transform: scaleX(1);
}

.right {
  transform: scaleX(-1);
}

.up {
  transform: rotate(270deg);
}

.down {
  transform: rotate(90deg);
}

label {
  font-size: 3rem;
}
#usernameInput,
#roomNameInput {
  width: 100%;
  font-size: 4rem;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 2rem;
  box-sizing: border-box;
}

#submit {
  width: 100%;
  background-color: #e2648c;
  color: white;
  font-size: 4rem;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 2rem;
  cursor: pointer;
}

#submit:hover {
  background-color: #e04e7c;
}

#enter-form {
  border-radius: 2rem;
  background-color: #edd7de;
  padding: 20px;
}

.title {
  text-align: center;
}

#kissButton {
  margin: auto;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 2rem;
}

#kissButton:hover {
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.24), 0 5px 13px 0 rgba(0, 0, 0, 0.19);
}

img {
  pointer-events: none;
}

.beating-heart {
  /* background-color: #e2648c; */
  background-image: url("/svg/heart.svg");
  background-position: center;
  background-repeat: no-repeat;
  /* background-size: 20rem; */
  animation: beating-heart-animation 0.8s infinite;
}

@keyframes beating-heart-animation {
  0% {
    background-size: 12rem;
  }
  50% {
    background-size: 36rem;
  }
  100% {
    background-size: 12rem;
  }
}

.kissing-button {
  animation: kiss-button-animation 0.8s infinite;
}

@keyframes kiss-button-animation {
  0% {
    background-color: #e2648c;
  }
  50% {
    background-color: #ffffff;
  }
  100% {
    background-color: #e2648c;
  }
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

.button-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 20px;
}
